$white: #ffffff;
$black: #000;
$blue: #011f72;
$pink: #ff8080;
$purple: #b872d1;
$green: #002c08;
$yellow: #f8c027;
$lightblue: #2757f8;
$cleanPurple: #4f659f;
$orange: #e96122;
$grey: #a8a8a8;
// Cool Palette
$coolWhite: #f1f1ed;
$coolRose: #c69b86;
$coolYellow: #d4c972;
$coolBlack: #010101;
$coolBg: #e6e6ea;
$coolTitle: #bb3a3a;
// Imports
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
